# Игнорировать файлы без расширение (должно быть в начале)
*
!/**/
!*.*

# Игнорировать файлы сборки (у меня генерятся и раздражают меня)
/.vscode
*.dSYM

# Файл сборки по умолчанию на mac (когда output не указан)
/a.out 

# Файл для игрушек, чтобы случайно не закоммитить и не запушить
/tmp.cpp