# Игнорировать файлы без расширение (должно быть в начале)
*
!/**/
!*.*
*.exe
*.txt
# Игнорировать файлы сборки (у меня генерятся и раздражают меня)
/.vscode
*.dSYM
.pytest_cache
lab5/build
# Файл сборки по умолчанию на mac (когда output не указан)
/a.out 

# Файл для игрушек, чтобы случайно не закоммитить и не запушить
/tmp.cpp